:root{
    --cinza:#667085;
    --vermelho:#8E2424;
    --branco: #F5F5F5;
    --azul: #101828;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: inherit;
}

body{
    background-color: var(--branco);
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.menu{
    display: flex;
    gap: 2rem;
    text-decoration: none;
    color: var(--cinza);
}

button{
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
}
  
button#login__cadastro {
    background-color: var(--vermelho);
    color: var(--branco);
}

/* sobre nos*/
.sobre-nos{
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sobre-nos__span{
    color: var(--vermelho);
    font-size: 1rem;
    font-weight: 600;
}

.sobre-nos__titulo{
    font-size: 3rem;
    font-weight: 600;
}

.sobre-nos__paragrafo{
    color: var(--cinza);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    max-width: 50%;
    line-height: 1.5rem;
}

/* metricas */
.metricas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    padding: 0 8rem;
}

.metricas__item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.metricas__item__numero{
    color: var(--vermelho);
    font-size: 3rem;
    font-weight: bold;
}

.metricas__item__paragrafo{
    color: var(--cinza);
    line-height: 140%;
    font-size: 90%;
}

.metricas__item__titulo{
    font-weight: 500;
    color: var(--azul);
}

/* vagas */
.vagas{
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.vagas__span{
    color: var(--vermelho);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 0, 0, 0.1);
}

.vagas__titulo{
    font-size: 3rem;
    font-weight: 600;
}

.vagas__paragrafo{
    color: var(--cinza);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    max-width: 50%;
    line-height: 1.5rem;
}

/* VAGAS ABERTAS */

.vagas-abertas__area {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.vagas-abertas__info {
    border: 1px solid #EAECF0;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.vagas-abertas__info__titulo {
    font-weight: 500;
    margin-bottom: 16px;
}

.vagas-abertas__info__detalhes {
    margin-top: 1rem;
    font-size: 90%;
    color: var(--text-color);
    display: flex;
    gap: 2rem;
}